<div class="container " style="margin-top: 70px;">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">

                <!--- COME"CA o form mesmo -->
                <div class="card-body p-5">
                    <img src="../../../assets/logo.svg" alt="">
                    <h3 class="mb-3">Bem-Vindo de volta!</h3>
                    <form [formGroup]="loginForm">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="typeEmailX-2">Endereço de e-mail</label>
                            <input id="usuario" type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                formControlName="username" required />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">Senha</label>
                            <input id="senha" type="password" id="typePasswordX-2" formControlName="password" required
                                class="form-control form-control-lg" />
                        </div>

                    </form>
                    <button class="btn btn-primary "
                        style="background-color: #F8EBA6; width: -webkit-fill-available; color: black;" type="submit"
                        (click)="onSubmit()">Entrar</button>

                    <hr class="my-4">

                    <a href=""> Esqueci minha senha</a>

                    <div class="d-flex mt-4">

                        <p>Novo na plataforma?</p><a class="ml57" href="">Cadastre-se</a>
                    </div>

                </div>

                <!--- TERMINA o form mesmo -->
            </div>
        </div>
    </div>
</div>